@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

body {
	font-family: 'Zilla Slab', serif;
}

/*BASE CSS!*/
em {
	font-style: italic;
}
/*BASE CSS!*/

.fotos {
	width: 25%;
	height: 290px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	border: 3px solid #000000;
	border-radius: 20px;
	margin: 0 4% 12% 4%;
	padding: 15px;
	position: relative;
}

.fotos:nth-child(2n) {
	border-color: #8B0000;
}

footer {
	clear: left;
	background: #000000;
	padding: 30px;
}

.caixa-footer {
	position: relative;
	width: 990px;
	height: 100px;
	color: white;
	box-sizing: border-box;
	margin: 10px auto;
}

.caixa-footer .copy {
	position: absolute;
	right: 0px;
	top: 25%;
}

.caixa-footer h1 {
	font-size: 1.3em;
}

.caixa-footer h1:before {
	content: "[ ";
}

.caixa-footer h1:after {
	content: " ]";
}

.caixa-footer h2 {
	margin-top: 5px;
	font-size: 1.1em;
}

.caixa-perguntas {
	position: relative;
	margin: 0px auto;
	box-sizing: border-box;
	width: 990px;
	height: 539px;
	padding: 40px;
}

main .pergunta {
	margin-bottom: 30px;
	position: absolute;
	left: 30px;

}

main .pergunta h3 {
	font-size: 1.9em;
	margin-bottom: 10px;
}

main .pergunta p {
	font-size: 1.2em;
}

main .caixa-quem-somos {
	position: relative;
	width: 690px;
	height: 539px;
	margin: 0 auto;
}

main .quem-somos {
	position: absolute;
	left: 50px;
	text-align: center;
	padding: 40px;
}

.quem-somos h2 {
	font-size: 1.9em;
	margin-bottom: 1em;
}

.quem-somos p {
	font-size: 1.4em;
	line-height: 1.16em;
}

.caixa-imagem {
	position: relative;
	width: 990px;
	height: auto;
	margin: 0 auto;
	padding: 60px;
}

.caixa-imagem h2 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1.9em;
	font-weight: bold;
}

.caixa-imagem img {
	margin: 0 30px 60px 0;
	float: left;
}

.foto-grande-demais {
	width: 70%;
}

.caixa-imagem p {
	font-size: 1.4em;
	margin-bottom: 40px;
	text-align: left;
	line-height: 1.3em;
}

.avaliacao {
	margin-top: 250px;
}

.mensagem-avaliacao {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
}

.star {
	font-size: 1.3em;
	display: inline-block;
	cursor: default;
	background: none;
	border: none;
	border-radius: 4px;

}

.zerar {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
	background: none;
	border: none;
}

.auxiliar-gradient {
	clear: left;
}

.caixa-formulario-sugestao {
	position: relative;
	width: 990px;
	min-height: 700px;
	margin: 0px auto;
}

.caixa-formulario-sugestao form {
	padding-top: 40px;
}

.caixa-formulario-sugestao label, .caixa-formulario-sugestao legend, .caixa-formulario-sugestao input, .caixa-formulario-sugestao textarea {
	font-size: 1.4em;
	margin: 0.6em 0 1em 0;
	line-height: 1.4em;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao input {
	box-sizing: border-box;
	padding: 0.5em;
	text-align: center;
	background-color: #F9F9F9;
	border-radius: 9px;
	font-family: 'Zilla Slab', serif;
}

.radio label {
	margin-right: 1.5em;
	cursor: pointer;
}

.radio input {
	margin-right: 0.2em;
	cursor: pointer;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao textarea {
	background-color: #D7D7D7;
	border-radius: 9px;
	padding: 9px 8px 8px 12px;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao input.enviar-sugestao {
	background-color: orange;
	cursor: pointer;
	color: #EC0000;
	transition: 0.4s all;
	margin-left: 0.4em;
	box-shadow: 3px 3px 7px black;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao input.enviar-sugestao:hover {
	transform: scale(1.13);
}

.caixa-tabela-ranking {
	position: relative;
	margin: 0 auto;
	width: 990px;
	height: 499px;
	padding: 2em;
}

.tabela-ranking {
	position: absolute;
	left: 10%;
	margin-top: 24px;
	font-size: 1.3em;
}

.tabela-ranking th {
	background-color: #CCCCCC;
	border: 2px solid black;
	text-align: center;
	padding: 14px 14px 7px 7px;
}

.tabela-ranking td {
	border: 2px solid black;
	padding: 7px 14px 7px 7px;
}

.tabela-ranking tbody tr {
	background-color: #E8E8E8;
}

.tabela-ranking tbody tr:nth-child(2n) {
	background-color: #BBBBBB;
}
