.cabecalho__menu__lista__item {
	display: inline-block;
	height: 1.9em;
	margin-right: 1em;
}

@media screen and (min-width: 0px){
	.cabecalho__menu__lista__item {
		display: block;
	}
}

@media screen and (min-width: 535px){
	.cabecalho__menu__lista__item{
		display: block;
	}
}
