@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500&display=swap');

header {
	background-color: #F9F9F9;
}

body {
	font-family: 'Zilla Slab', serif;
}

.caixa-cabecalho {
	position: relative;
	width: 990px;
	height: 180px;
	margin: 0px auto 0px;
	box-sizing: border-box;
	background-color: #F9F9F9;
}

.caixa-cabecalho h1, .caixa-cabecalho h2 {
	position: absolute;
	left: 10px;
}

.caixa-cabecalho h1 {
	top: 30px;
	font-size: 2.5em;
	font-family: "Zilla Slab";
}

.caixa-cabecalho h1:before {
	content: "[ ";
}

.caixa-cabecalho h1:after {
	content: " ]";
}

.caixa-cabecalho h2 {
	top: 75px;
	font-size: 1.8em;
}

em {
	font-style: italic;
}

nav {
	position: absolute;
	right: 10px;
	top:60px;
}

nav ul {
	max-width: 550px;
}

nav li {
	display: inline-block;
	margin-left: 1em;
}

nav a {
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
	transition: 0.2s all;
	font-weight: bold;
}

nav a:hover {
	color: #8B0000;
}

main {
	background: linear-gradient(#F9F9F9, #444444);
	padding-bottom: 30px;
}

.caixa-conteudo-principal {
	position: relative;
	width: 990px;
	height: 539px;
	margin: 0 auto;
}

.lista-fotos {
	position: absolute;
	margin-top: 50px;
}

.lista-fotos a {
	text-decoration: none;
	color: #000000;
	font-size: 1.3em;
	transition: 0.2s all;
}

.lista-fotos a:hover {
	color: #8B0000;
}

.lista-fotos li {
	width: 25%;
	height: 290px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	border: 3px solid #000000;
	border-radius: 20px;
	margin-right: 8%;
	padding: 15px;
	position: relative;
}

.lista-fotos li:nth-child(2n) {
	border-color: #8B0000;
}

.lista-fotos li h3 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

.lista-fotos li img {
	position: absolute;
	width: 25%;
	top: 100px;
	left: 90px;
}

footer {
	clear: left;
	background: #000000;
	padding: 30px;
}

.caixa-footer {
	position: relative;
	width: 990px;
	height: 100px;
	color: white;
	box-sizing: border-box;
	margin: 10px auto;
}

.caixa-footer .copy {
	position: absolute;
	right: 0px;
	top: 25%;
}

.caixa-footer h1 {
	font-size: 1.3em;
}

.caixa-footer h1:before {
	content: "[ ";
}

.caixa-footer h1:after {
	content: " ]";
}

.caixa-footer h2 {
	margin-top: 5px;
	font-size: 1.1em;
}

.caixa-perguntas {
	position: relative;
	margin: 0px auto;
	box-sizing: border-box;
	width: 990px;
	height: 539px;
	padding: 40px;
}

main .pergunta {
	margin-bottom: 30px;
	position: absolute;
	left: 30px;

}

main .pergunta h3 {
	font-size: 1.9em;
	margin-bottom: 10px;
}

main .pergunta p {
	font-size: 1.2em;
}

main .caixa-quem-somos {
	position: relative;
	width: 690px;
	height: 539px;
	margin: 0 auto;
}

main .quem-somos {
	position: absolute;
	left: 50px;
	text-align: center;
	padding: 40px;
}

.quem-somos h2 {
	font-size: 1.9em;
	margin-bottom: 1em;
}

.quem-somos p {
	font-size: 1.4em;
	line-height: 1.16em;
}

.caixa-imagem {
	position: relative;
	width: 990px;
	height: auto;
	margin: 0 auto;
	padding: 60px;
}

.caixa-imagem h2 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1.9em;
	font-weight: bold;
}

.caixa-imagem img {
	margin: 0 30px 60px 0;
	float: left;
}

.foto-grande-demais {
	width: 80%;
}

.caixa-imagem p {
	font-size: 1.4em;
	margin-bottom: 40px;
	text-align: left;
	line-height: 1.3em;
}

.auxiliar-gradient {
	clear: left;
}

.caixa-formulario-sugestao {
	position: relative;
	width: 990px;
	min-height: 700px;
	margin: 0px auto;
}

.caixa-formulario-sugestao form {
	padding-top: 40px;
}

.caixa-formulario-sugestao label, .caixa-formulario-sugestao legend, .caixa-formulario-sugestao input, .caixa-formulario-sugestao textarea {
	font-size: 1.4em;
	margin: 0.6em 0 1em 0;
	line-height: 1.4em;
}

.caixa-formulario-sugestao input {
	box-sizing: border-box;
	padding: 0.5em;
	text-align: center;
	background-color: #F9F9F9;
	border-radius: 9px;
}

.radio label {
	margin-right: 1.5em;
	cursor: pointer;
}

.radio input {
	margin-right: 0.2em;
	cursor: pointer;
}

.caixa-formulario-sugestao textarea {
	background-color: #D7D7D7;
	border-radius: 9px;
	padding: 9px 8px 8px 12px;
}

.caixa-formulario-sugestao input.enviar-sugestao {
	background-color: orange;
	cursor: pointer;
	color: #EC0000;
	transition: 0.4s all;
	margin-left: 0.4em;
	box-shadow: 3px 3px 7px black;
}

.caixa-formulario-sugestao input.enviar-sugestao:hover {
	transform: scale(1.13);
}