input.principal__caixaFormulario__formulario__enviar {
	background-color: orange;
	box-shadow: 3px 3px 7px black;
	color: #EC0000;
	cursor: pointer;
	font-family: var(--fontZillaSlab);
	transition: 0.4s all;
	margin-left: calc(calc(100vw - 158.13px) / 2);
}

.principal__caixaFormulario__formulario__enviar:hover {
	transform: scale(1.13);
}

@media screen and (min-width: 535px){
	input.principal__caixaFormulario__formulario__enviar{
		margin-left: calc(calc(calc(100vw - 158.13px) / 2) - var(--padding-left-formulario));
	}
	
}
