.principal__menuSelecao {
	align-items: center;
	box-sizing: border-box;
	display: flex;
	/*height: 130px;DESKTOP*/
	height: 25vh;
	justify-content: space-around;
	flex-direction: column;
	/*width: 990px;DESKTOP*/
	width: 100vw;
}
