.cabecalho {
    box-sizing: border-box;
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    /*MODELO PARA DESKTOP justify-content: space-around;*/
    padding: 1.3rem 0 .9rem 1.2em;
    width: 100vw;
}

@media screen and (max-width: 425px) {
    .cabecalho {
        align-items: flex-start;
        flex-direction: column;
        height: 34vh;
    }
}
