.rodape {
	align-items: center;
	background: #000;
	box-sizing: border-box;
	clear: left;
	display: flex;
	height: 20vh;
	justify-content: space-around;
	padding: 15px 0 35px 0;
}

@media screen and (min-width: 0px){
	.rodape{
		flex-direction: column;
	}
}

@media screen and (min-width: 535px) {
	.rodape{
		flex-direction: row;
	}
}
