/*BASE CSS!*/

:root {
	--fontZillaSlab: 'Zilla Slab', serif;
}

body, * {
	font-family: var(--fontZillaSlab);
}

em {
	font-style: italic;
}

.copy {
	position: absolute;
	right: 0px;
	top: 25%;
}
/*BASE CSS!*/

.caixa-imagem {
	position: relative;
	width: 990px;
	height: auto;
	margin: 0 auto;
	padding: 60px;
}

.caixa-imagem h2 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 1.9em;
	font-weight: bold;
}

.caixa-imagem img {
	margin: 0 30px 60px 0;
	float: left;
}

.foto-grande-demais {
	width: 70%;
}

.caixa-imagem p {
	font-size: 1.4em;
	margin-bottom: 40px;
	text-align: left;
	line-height: 1.3em;
}

.avaliacao {
	margin-top: 250px;
}

.mensagem-avaliacao {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
}

.star {
	font-size: 1.3em;
	display: inline-block;
	cursor: default;
	background: none;
	border: none;
	border-radius: 4px;

}

.zerar {
	font-size: 1.5em;
	font-weight: bold;
	line-height: 1.3em;
	background: none;
	border: none;
}

.auxiliar-gradient {
	clear: left;
}

.caixa-formulario-sugestao {
	position: relative;
	width: 990px;
	min-height: 700px;
	margin: 0px auto;
}

.caixa-formulario-sugestao form {
	padding-top: 40px;
}

.caixa-formulario-sugestao label, .caixa-formulario-sugestao legend, .caixa-formulario-sugestao input, .caixa-formulario-sugestao textarea {
	font-size: 1.4em;
	margin: 0.6em 0 1em 0;
	line-height: 1.4em;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao input {
	box-sizing: border-box;
	padding: 0.5em;
	text-align: center;
	background-color: #F9F9F9;
	border-radius: 9px;
	font-family: 'Zilla Slab', serif;
}

.radio label {
	margin-right: 1.5em;
	cursor: pointer;
}

.radio input {
	margin-right: 0.2em;
	cursor: pointer;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao textarea {
	background-color: #D7D7D7;
	border-radius: 9px;
	padding: 9px 8px 8px 12px;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao input.enviar-sugestao {
	background-color: orange;
	cursor: pointer;
	color: #EC0000;
	transition: 0.4s all;
	margin-left: 0.4em;
	box-shadow: 3px 3px 7px black;
	font-family: 'Zilla Slab', serif;
}

.caixa-formulario-sugestao input.enviar-sugestao:hover {
	transform: scale(1.13);
}
