/*BASE CSS!*/
:root {
	--fontZillaSlab: 'Zilla Slab', serif;
}

body, * {
	font-family: var(--fontZillaSlab);
}

em {
	font-style: italic;
}

.copy {
	position: absolute;
	right: 0px;
	top: 25%;
}
/*BASE CSS!*/
