.cabecalho__tituloSub__titulo {
	font-family: 'Zilla Slab', serif;
	font-size: 2.5em;
	margin-bottom: 1.05rem;
}

.cabecalho__tituloSub__titulo:before {
	content: "[ ";
}

.cabecalho__tituloSub__titulo:after {
	content: " ]";
}


@media screen and (min-width: 0px){
	.cabecalho__tituloSub__titulo {
		font-size: 1.95em;
	}
}

@media screen and (min-width: 427px) {
	.cabecalho__tituloSub__titulo{
		font-size: 1.95em;
	}
}