.principal__tabela__cabecalho th {
	background-color: #CCCCCC;
	border: 2px solid black;
	text-align: center;
	padding: 7px 14px 7px 7px;
	vertical-align: middle;
}

@media screen and (min-width: 0px) {
	.principal__tabela__cabecalho th:nth-child(1){
		display: none;
	}

	.principal__tabela__cabecalho th:nth-child(2){
		display: none;
	}

	.principal__tabela__cabecalho th:nth-child(3){
		width: 75%;
	}
}

@media screen and (min-width: 535px){
	.principal__tabela__cabecalho th:nth-child(1){
		display: table-cell;
		width: 65%;
	}
}

@media screen and (min-width: 1024px){
	.principal__tabela__cabecalho th:nth-child(2){
		display: table-cell;
	}
}
